@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Inter:wght@300;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-menu .ant-menu-item {
  color: black !important;
  width: 98%;
  font-size: 28px;
  text-align: left;
  margin-left: 2px;
  margin-right: 4px;
  margin-bottom: 20px;
}

.custom-menu .ant-menu-item-selected {
  background-color: #4e38f5 !important;
  color: white !important;
  border-radius: 8px;
}

.custom-menu .ant-menu-item:hover {
  color: #4e38f5 !important;
}

.ant-calendar-date-cell {
  min-height: 80px; /* Adjust the height */
  min-width: 80px;  /* Adjust the width */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.ant-calendar-date {
  font-size: 18px; /* Adjust the font size */
}

.appointment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-item {
  margin-bottom: 5px;
}
